@import 'tailwindcss';

@theme {
  --font-pretendard: 'Pretendard Variable', sans-serif;
  --color-primary: #6b5cff;
  --color-basic-light: #f7f8f8;
  --color-list: #686868;
  --color-ring: hsl(240 5% 64.9%);
  --color-placeholder: #cfcfcf;
  --color-hint: #b5b9c4;
  --color-disabled: #e3e4e8;
  --color-secondary: #5736F5;
  --color-pressed: #C2C8FF;
  --color-basic-secondary: #4B505D;
  --color-chip-unselected: #F1F1F4;
}

@layer base {
  body {
    color: #292929;
  }

  input::placeholder {
    color: #cfcfcf;
  }
}
